{% extends "base.html" %} {%block title%}Post details{%endblock%}{% block
content %}
<div class="rgy rhc ria">
  <div class="rfv rgb rgf rgi rgn rgo rha rhz">
    <div class="rfv rgd rge rgt rgv rhd rib rid rig rik rio">
      <div class="rfw rgp rgr">
        {% if posts %} {% for post in posts %}
        <article class="rhb">
          <div class="rhs rft">
            <time datetime="2020-03-16" class="rfz rhh rhl"
              >{{ post.date_created.strftime('%Y-%m-%d') }}</time
            >
            <h2 class="rfx rhf rhi rhq rhr">
              <a href="/post/{{post.id}}">
                <span class="rfs rfu"></span>
                {{post.post_title}}
              </a>
            </h2>
            <p class="rfy rhh rhl">{{post.post_content}}</p>
          </div>
          <div class="rfy rga">
            <a href="#" class="rft rga rgm rhh rhi rhq">
              <img
                src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80"
                alt=""
                class="rgc rgh rgs rgx"
              />
              Lindsay Walton
            </a>
          </div>
        </article>
        {% endfor %} {% else %} {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
