@layer properties {
  @supports (((-webkit-hyphens: none)) and (not (margin-trim: inline))) or
    ((-moz-orient: inline) and (not (color: rgb(from red r g b)))) {
    *,
    :before,
    :after,
    ::backdrop {
      --tw-divide-y-reverse: 0;
      --tw-border-style: solid;
      --tw-font-weight: initial;
      --tw-tracking: initial;
    }
  }
}

@layer theme {
  :root,
  :host {
    --font-sans: InterVariable, system-ui, sans-serif;
    --font-sans--font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

@layer base {
  *,
  :after,
  :before,
  ::backdrop {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
  }

  ::file-selector-button {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
  }

  html,
  :host {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    line-height: 1.5;
    font-family: var(
      --font-sans,
      ui-sans-serif,
      system-ui,
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      "Noto Color Emoji"
    );
    font-feature-settings: var(--font-sans--font-feature-settings);
    font-variation-settings: initial;
    -webkit-tap-highlight-color: transparent;
  }

  hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
  }

  abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit;
  }

  a {
    color: inherit;
    -webkit-text-decoration: inherit;
    -webkit-text-decoration: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
  }

  b,
  strong {
    font-weight: bolder;
  }

  code,
  kbd,
  samp,
  pre {
    font-feature-settings: initial;
    font-variation-settings: initial;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      Liberation Mono, Courier New, monospace;
    font-size: 1em;
  }

  small {
    font-size: 80%;
  }

  sub,
  sup {
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
    position: relative;
  }

  sub {
    bottom: -0.25em;
  }

  sup {
    top: -0.5em;
  }

  table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
  }

  :-moz-focusring {
    outline: auto;
  }

  progress {
    vertical-align: baseline;
  }

  summary {
    display: list-item;
  }

  ol,
  ul,
  menu {
    list-style: none;
  }

  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    vertical-align: middle;
    display: block;
  }

  img,
  video {
    max-width: 100%;
    height: auto;
  }

  button,
  input,
  select,
  optgroup,
  textarea {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: #0000;
    border-radius: 0;
  }

  ::file-selector-button {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: #0000;
    border-radius: 0;
  }

  :where(select:is([multiple], [size])) optgroup {
    font-weight: bolder;
  }

  :where(select:is([multiple], [size])) optgroup option {
    padding-inline-start: 20px;
  }

  ::file-selector-button {
    margin-inline-end: 4px;
  }

  ::placeholder {
    opacity: 1;
  }

  @supports (not ((-webkit-appearance: -apple-pay-button))) or
    (contain-intrinsic-size: 1px) {
    ::placeholder {
      color: currentColor;
    }

    @supports (color: color-mix(in lab, red, red)) {
      ::placeholder {
        color: color-mix(in oklab, currentcolor 50%, transparent);
      }
    }
  }

  textarea {
    resize: vertical;
  }

  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  ::-webkit-date-and-time-value {
    min-height: 1lh;
    text-align: inherit;
  }

  ::-webkit-datetime-edit {
    display: inline-flex;
  }

  ::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
  }

  ::-webkit-datetime-edit {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-year-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-month-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-day-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-hour-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-minute-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-second-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-millisecond-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-meridiem-field {
    padding-block: 0;
  }

  ::-webkit-calendar-picker-indicator {
    line-height: 1;
  }

  :-moz-ui-invalid {
    box-shadow: none;
  }

  button,
  input:where([type="button"], [type="reset"], [type="submit"]) {
    appearance: button;
  }

  ::file-selector-button {
    appearance: button;
  }

  ::-webkit-inner-spin-button {
    height: auto;
  }

  ::-webkit-outer-spin-button {
    height: auto;
  }

  [hidden]:where(:not([hidden="until-found"])) {
    display: none !important;
  }
}

@layer components;

@layer utilities {
  .rfs {
    position: absolute;
  }

  .rft {
    position: relative;
  }

  .rfu {
    inset: 0;
  }

  .rfv {
    margin-inline: auto;
  }

  .rfw {
    margin-block: -3rem;
  }

  .rfx {
    margin-top: 0.5rem;
  }

  .rfy {
    margin-top: 1rem;
  }

  .rfz {
    display: block;
  }

  .rga {
    display: flex;
  }

  .rgb {
    display: grid;
  }

  .rgc {
    width: 1.5rem;
    height: 1.5rem;
  }

  .rgd {
    width: 100%;
  }

  .rge {
    max-width: 42rem;
  }

  .rgf {
    max-width: 80rem;
  }

  .rgg {
    max-width: 36rem;
  }

  .rgh {
    flex: none;
  }

  .rgi {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .rgj {
    flex-direction: column;
  }

  .rgk {
    justify-content: space-between;
  }

  .rgl {
    gap: 1.5rem;
  }

  .rgm {
    column-gap: 0.625rem;
  }

  .rgn {
    column-gap: 2rem;
  }

  .rgo {
    row-gap: 3rem;
  }

  :where(.rgp > :not(:last-child)) {
    --tw-divide-y-reverse: 0;
    border-bottom-style: var(--tw-border-style);
    border-top-style: var(--tw-border-style);
    border-top-width: calc(1px * var(--tw-divide-y-reverse));
    border-bottom-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  }

  :where(.rgq > :not(:last-child)) {
    border-color: oklab(21% -0.00316127 -0.0338527/0.1);
  }

  :where(.rgr > :not(:last-child)) {
    border-color: oklab(100% 0 5.96046e-8/0.1);
  }

  .rgs {
    border-radius: 3.40282e38px;
  }

  .rgt {
    border-top-style: var(--tw-border-style);
    border-top-width: 1px;
  }

  .rgu {
    border-color: oklab(21% -0.00316127 -0.0338527/0.1);
  }

  .rgv {
    border-color: oklab(100% 0 5.96046e-8/0.1);
  }

  .rgw {
    background-color: oklch(98.5% 0.002 247.839);
  }

  .rgx {
    background-color: oklch(27.8% 0.033 256.848);
  }

  .rgy {
    background-color: oklch(21% 0.034 264.665);
  }

  .rgz {
    background-color: #fff;
  }

  .rha {
    padding-inline: 1.5rem;
  }

  .rhb {
    padding-block: 3rem;
  }

  .rhc {
    padding-block: 6rem;
  }

  .rhd {
    padding-top: 3rem;
  }

  .rhe {
    font-size: 1.875rem;
    line-height: var(--tw-leading, calc(2.25 / 1.875));
  }

  .rhf {
    font-size: 1.125rem;
    line-height: var(--tw-leading, calc(1.75 / 1.125));
  }

  .rhg {
    font-size: 1.125rem;
    line-height: 2rem;
  }

  .rhh {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }

  .rhi {
    --tw-font-weight: 600;
    font-weight: 600;
  }

  .rhj {
    --tw-tracking: -0.025em;
    letter-spacing: -0.025em;
  }

  .rhk {
    text-wrap: pretty;
  }

  .rhl {
    color: oklch(70.7% 0.022 261.325);
  }

  .rhm {
    color: oklch(44.6% 0.03 256.802);
  }

  .rhn {
    color: oklch(21% 0.034 264.665);
  }

  .rho {
    color: oklch(67.3% 0.182 276.935);
  }

  .rhp {
    color: oklch(51.1% 0.262 276.966);
  }

  .rhq {
    color: #fff;
  }

  @media (hover: hover) {
    .rhr:is(:where(.rhs):hover *) {
      color: oklch(87.2% 0.01 258.338);
    }

    .rht:is(:where(.rhs):hover *) {
      color: oklch(44.6% 0.03 256.802);
    }

    .rhu:hover {
      color: oklch(78.5% 0.115 274.713);
    }

    .rhv:hover {
      color: oklch(58.5% 0.233 277.117);
    }
  }

  @media (min-width: 40rem) {
    .rhw {
      margin-top: 2rem;
    }

    .rhx {
      flex-direction: row-reverse;
    }

    .rhy {
      gap: 2rem;
    }

    .rhz {
      row-gap: 4rem;
    }

    .ria {
      padding-block: 8rem;
    }

    .rib {
      padding-top: 4rem;
    }

    .ric {
      font-size: 2.25rem;
      line-height: var(--tw-leading, calc(2.5 / 2.25));
    }
  }

  @media (min-width: 64rem) {
    .rid {
      margin-inline: 0;
    }

    .rie {
      margin-top: 1rem;
    }

    .rif {
      max-width: 32rem;
    }

    .rig {
      max-width: none;
    }

    .rih {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .rii {
      flex-direction: column;
    }

    .rij {
      border-top-style: var(--tw-border-style);
      border-top-width: 1px;
    }

    .rik {
      border-top-style: var(--tw-border-style);
      border-top-width: 0;
    }

    .ril {
      border-color: oklab(21% -0.00316127 -0.0338527/0.1);
    }

    .rim {
      border-color: oklab(100% 0 5.96046e-8/0.1);
    }

    .rin {
      padding-inline: 2rem;
    }

    .rio {
      padding-top: 0;
    }

    .rip {
      padding-top: 2rem;
    }
  }

  @media (prefers-color-scheme: dark) {
    :where(.riq > :not(:last-child)),
    .rir {
      border-color: oklab(100% 0 5.96046e-8/0.1);
    }

    .ris {
      background-color: oklch(27.8% 0.033 256.848);
    }

    .rit {
      background-color: oklch(21% 0.034 264.665);
    }

    .riu {
      color: oklch(70.7% 0.022 261.325);
    }

    .riv {
      color: oklch(67.3% 0.182 276.935);
    }

    .riw {
      color: #fff;
    }

    @media (hover: hover) {
      .rix:is(:where(.rhs):hover *) {
        color: oklch(87.2% 0.01 258.338);
      }

      .riy:hover {
        color: oklch(78.5% 0.115 274.713);
      }
    }

    @media (min-width: 64rem) {
      .riz {
        border-color: oklab(100% 0 5.96046e-8/0.1);
      }
    }
  }
}

@property --tw-divide-y-reverse {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-border-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}

@property --tw-font-weight {
  syntax: "*";
  inherits: false;
}

@property --tw-tracking {
  syntax: "*";
  inherits: false;
}
